    body{
        
        background:linear-gradient(53deg, rgba(73,108,120,0.8995973389355743) 1%, rgba(74,203,245,0.958420868347339) 94%);
        font-family: 'Montserrat', sans-serif;
    }
    .preview-box{
    height: 90px;
    width: 250px;
    border-radius: 2px;
    box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.3) ;
    cursor: pointer;
    transition: box-shadow 0.3s;
    }
    .preview-box:hover {
        box-shadow: 1px 1px 10px  #FFA500; /* Add shadow on hover */
    }

    .selecting-content{
    height: 500px;
    background-color: white;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    border-radius: 10px;
    }
    .header-document{
        width: 250px;
        padding-left: 50px;
        font-size: 15px;
        font-weight: 500;
        padding-top: 15px;
        
   }
   .centering-content{
    display: grid;
    place-items: center;
    height: 98vh;
    border-radius: 50px;
    box-shadow: 1px 1px 8px black ;
   }
   .header-document1{
    color: grey;   
    margin-top: -10px;
    width: 700px;
    padding-left: 50px;
    font-size: 15px;
   }
   .heading-top{
    background-color: #FFA500; /* Orange */
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
   }
   .design-content{
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 15px 50px black ;
   }
   

@media screen and (max-width: 425px){
    .selecting-content{
        height: 500px;
        background-color: white;
        width: 300px;
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        margin: 50px;
        border-radius: 10px;
        grid-gap: 15px;
       }

       .heading-top{
        background-color: #FFA500; /* Orange */
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
       }
       
       .header-document{
        width: 150px;
        padding-left: 50px;
        font-size: 10px;
        font-weight: 500;
        padding-top: 15px;
        
       }
       .centering-content{
        display: grid;
        place-items: center;
        height: 98vh;
        border-radius: 50px;
        box-shadow: 1px 1px 8px black ;
       }
       .header-document1{
        color: grey;   
        margin-top: 10px;
        width: 200px;
        padding-left: 50px;
        font-size: 10px;
       }
       .heading-top{
        background-color: #FFA500; /* Orange */
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
       }
       .design-content{
        border-radius: 15px;
        background-color: white;
        box-shadow: 1px 15px 50px black ;
        height: 1000px;
       }
       
}



.img-logo{
 height: 50px;
 background-color: white;
}
.preview-box{
 background-color: white;
 align-items: center;
 border: none;
}
.document-name{
 margin-top: 10px;
 word-wrap: break-word;
 font-family: 'Montserrat', sans-serif;
 color: black;

 font-weight: bold;
}

.heading-design{
  
    box-shadow:  1px 1px 3px rgba(138, 42, 42, 0.3) ;


}


.heading-image{
display: inline-block;
text-align: center;
bottom: 0;
}



/* typing animation */


.typewriter h3 {
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .20em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .05em; /* Adjust as needed */
animation: 
typing 3.5s steps(40, end),
blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}