body{
   background-color: rgb(255,255,255);

   
}

#edit-pdf{
  font-family: Arial;
  font-size: 16px;
}

.header-style{
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    border: 1px;
    margin-top: 300px;
    border-style: solid;
    border-color: black;
    top: 15px;
    border-bottom: 3px solid #f8c4a1;

}
.input-data-div {
  height: 1100px;
 display: grid;
 border-radius: 15px;
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 box-shadow: 1px 1px 8px black ;
 border-top: 5px solid #2a64ad;
 background-color: white;
  
}

.grid-container {
    margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(2, 1fr); /* Two columns */
   grid-gap: 10px; /* Margin on all sides */
 }

 .input-data-div-grid{
  height: 900px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  background-color: white;
}

 @media screen and (max-width: 1025px) {
  .grid-container {
    margin-top: 1000px;
   display: grid;
   grid-template-columns: 1fr; /* Two columns */
   grid-gap: 15px; /* Margin on all sides */
 }
 .header-style{
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 15px;
  border: 1px;
  margin-top: 300px;
  border-style: solid;
  border-color: black;
  
  top: 15px;
  border-bottom: 3px solid #f8c4a1;

}
.input-data-div {
  height: 900px;
 display: grid;
 border-radius: 15px;
 border-style: solid;
 border-width: 1px;
 border-color: grey;
 box-shadow: 1px 1px 8px black ;
 border-top: 5px solid #2a64ad;

  
}
.input-data-div-grid{
  height: 600px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
 
}

}
 
 .enter-detail{
   font-family: "Poppins",sans-serif;
   font-size: 20px;
   padding: 5px;
   border-radius: 5px;
   border-bottom: 1px solid #2a64ad;
   text-align: center;
   background-color: white;
 }
 
 input:focus, textarea:focus, select:focus{
   outline: none;
}
 .div2 {
   height: 1100px;
 /* Red color */
  border-radius: 15px;
   border-style: solid;
   border-width: 1px;
   border-color: grey;
   box-shadow: 1px 1px 8px grey ;
   overflow: scroll;
   border-top: 5px solid black;
   background-color: white;
   
 }
 .input-text ,.text-area-input {
    height: 30px;
    margin: 5px;
    width: 350px;
    border: 1px solid rgb(222,227,238);
    border-radius: 5px;
    box-shadow: 2px 2px 2px black ;
 }
 .text-area-input{
    resize: none;
    height: 100px;
    width: 350px;
    white-space: pre-wrap;
 }
 
 .label-element{
    height: 100px;
 }
 .input-align-data{
    display: grid;
    grid-template-rows: auto;
    place-content: center;
    padding-left: 20px;
 }
 .input-align-data-div{
 display: grid;
 grid-gap: 5px;
 font-family: "Poppins",sans-serif;
 font-size: 15px;
 font-weight: 400;
 text-shadow: 5px;
 box-shadow: 15px;
 }
 .upload-button{
   background-color: white;
   color: rgb(34, 36, 41);
   height: 40px;
   width: 100px;
   border-radius: 25px;
   border-color: rgb(5, 9, 26);
   box-shadow: 1px 1px 15px black ;
   font-family: "Poppins",sans-serif;
   cursor: pointer;
 }
 .upload-button-div{
   display: grid;
   place-content: center;
   grid-template-columns: repeat(3, 150px);
 }
 .edit-button{
   background-color: white;
   color: rgb(34, 36, 41);
   height: 20px;
   width: 40px;
   border-radius: 25px;
   border-color: rgb(5, 9, 26);
   box-shadow: 1px 1px 8px black ;
   cursor: pointer;
 }

 .input-text-element{
   border-bottom: 1px solid rgb(222,227,238);
   padding: 5px;
   border-radius: 5px;
 }
 .pdf-content-div{
 width: 800px;
 margin-left: 50px;
 margin-right: 50px;

 }
 .div2::-webkit-scrollbar {
   width: 1px;
 }
 
 .clearAll{
  background-color: yellow;
 }
 .printAll{
  background-color: black;
  color: white;
}

 body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#showToast {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* ... Previous CSS code ... */

#toastContainer {
  position: fixed;
  top: 20px; /* Updated to position at the top */
  right: 20px; /* Position at the right */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: red;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  margin: 15px 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* Additional styles to position at the top-right corner */
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
}

.valid-input {
  border: 1px solid rgb(222,227,238);
}

/* Style for invalid input (red border) */
.invalid-input {
  border: 1px solid red;
}


/* print button animation theft from codepen*/
button.print-button {
  width: 100px;
  height: 100px;
}
span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  border: solid 4px #333;
}
span.print-icon::after {
  border-width: 2px;
}

button.print-button {
  position: relative;
  padding: 0;
  border: 0;
  
  border: none;
  background: transparent;
}

span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
  box-sizing: border-box;
  background-color: #fff;
}

span.print-icon {
  position: relative;
  display: inline-block;  
  padding: 0;
  margin-top: 20%;

  width: 60%;
  height: 35%;
  background: #fff;
  border-radius: 20% 20% 0 0;
}

span.print-icon::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 12%;
  right: 12%;
  height: 110%;
  transition: height .2s .15s;
}

span.print-icon::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 12%;
  right: 12%;
  height: 0%;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  background-position: center;
  background-image: linear-gradient(
    to top,
    #fff 0, #fff 14%,
    #333 14%, #333 28%,
    #fff 28%, #fff 42%,
    #333 42%, #333 56%,
    #fff 56%, #fff 70%,
    #333 70%, #333 84%,
    #fff 84%, #fff 100%
  );

  transition: height .2s, border-width 0s .2s, width 0s .2s;
}

button.print-button:hover {
  cursor: pointer;
}

button.print-button:hover .print-icon::before {
  height:0px;
  transition: height .2s;
}
button.print-button:hover .print-icon::after {
  height:120%;
  transition: height .2s .15s, border-width 0s .16s;
}

 